html {
    font-size: 1rem;
}

#main {
    padding-top: 60px;
}

@font-face {
    font-family: "SBL Hebrew";
    src: url("fonts/sbl_hebrew.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SBL Greek";
    src: url("fonts/sbl_greek.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.biblical-text-hebrew {
    font-family: "SBL Hebrew";
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
}

.biblical-text-greek {
    font-family: "SBL Greek";
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
}

.biblical-text-english {
    font-family: "Times";
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
}

.body-link {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

.module-license {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.scripture-text {
    white-space: pre-wrap;
    padding-bottom: 1rem;
}

.editor-popupmenu {
    padding: 8px 7px 6px;
    position: absolute;
    z-index: 1;
    top: -10000px;
    left: -10000px;
    margin-top: -6px;
    opacity: 0;
    transition: opacity 0.75s;
    border-radius: 2px;
}

.editor-para {
    border: 1px solid gray;
    margin: -1px;
}
